.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #52528c;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 8em;
}

.App-link {
  color: #61dafb;
}

/* Dari paling atas sampe @keyframes App-logo-spin, 
itu bawaan dari template bawaan react */

/* Buat warnain <Link> & ilangin behavior bawaan a pas udah di klik linknya*/
a {
  text-decoration: none;
  color: aliceblue;
  cursor: pointer;
}

/* Ngilangin dot di bagian isi list */
ul {
  list-style: none;
}

ul:first-child {
  padding: 0;
}

.big-li {
  font-size: 2em;
}

.raid-div{
  font-size: 0.5em;
  align-self: flex-start;
  justify-self: left;
  vertical-align: top;
}

/* Ubah ukuran font isi list */
li{
  font-weight: bold;
  font-size: 1.5em;
}

/* Taro transisi disini supaya animasi scalenya bisa pas hover in & hover out */
ul li {
  transition: 0.25s;
}


/* Ngescale pas di hover */
ul li:hover {
  transform: scale(1.1);
}

/* Ini yang warnanya pink (no shit sherlock) */
h3 {
  color: #db59e2;
  text-shadow: 2px -1px #674a69;
  margin: auto;
  border: 1px;
  cursor: context-menu;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #52528c; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #db59e2;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #db59e2;
  border-radius: 5px;
}

